MYSQL_ROOT_PASSWORD=change_this_mysql_root_password
MYSQL_ROOT_HOST=%
MYSQL_DATABASE=school_management
DB_USER=root
JWT_SECRET=change_this_jwt_secret
ADMIN_EMAIL=set_admin_email
ADMIN_PASSWORD=set_admin_password
PORT=5501
