*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}

body{
background:#0f0f0f;
color:white;
}

/* Layout */

.dashboard{
display:flex;
min-height:100vh;
}

/* Sidebar */

.sidebar{
width:240px;
background:#111;
padding:30px 20px;
display:flex;
flex-direction:column;
}

.logo{
font-size:22px;
margin-bottom:40px;
color:rgb(212,175,55);
}

.sidebar nav a{
text-decoration:none;
color:white;
padding:12px;
margin-bottom:10px;
border-radius:8px;
transition:0.3s;
display:block;
}

.sidebar nav a:hover,
.sidebar nav .active{
background:rgb(212,175,55);
color:black;
}

/* Main */

.main-content{
flex:1;
padding:40px;
}

/* Header */

.top-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:40px;
}

/* Stats */

.stats{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-bottom:50px;
}

.card{
background:#1a1a1a;
padding:25px;
border-radius:15px;
box-shadow:0 8px 20px rgba(0,0,0,0.5);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
border:1px solid rgb(212,175,55);
}

/* Announcements */

.announcement-card{
background:#1a1a1a;
padding:20px;
border-radius:12px;
margin-bottom:15px;
border-left:4px solid rgb(212,175,55);
transition:0.3s;
}

.announcement-card:hover{
transform:translateX(5px);
}