body{
margin:0;
font-family: 'Segoe UI', sans-serif;
background: linear-gradient(135deg,#0f0f0f,#1c1c1c);
color:white;
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:black;
border-bottom:3px solid #f5c400;
}

.navbar h2{
color:#f5c400;
letter-spacing:2px;
}

.nav-links a{
color:white;
text-decoration:none;
margin-left:25px;
transition:0.3s;
font-weight:500;
}

.nav-links a:hover{
color:#f5c400;
}

/* HERO */
.hero{
text-align:center;
padding:80px 20px 40px 20px;
animation:fadeIn 1s ease-in-out;
}

.hero h1{
font-size:45px;
color:#f5c400;
margin-bottom:15px;
}

.hero p{
font-size:18px;
opacity:0.8;
margin-bottom:25px;
}

/* BUTTON */
.btn{
padding:12px 30px;
border-radius:25px;
border:none;
background:#f5c400;
color:black;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.btn:hover{
transform:scale(1.08);
background:white;
}

/* STATS CARDS */
.stats{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
padding:40px 20px;
}

.card{
background:#1e1e1e;
padding:30px;
border-radius:15px;
width:220px;
text-align:center;
transition:0.4s;
border:1px solid rgba(245,196,0,0.2);
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 0 25px rgba(245,196,0,0.5);
border:1px solid #f5c400;
}

.card h3{
color:#f5c400;
margin-bottom:10px;
}

/* Animation */
@keyframes fadeIn{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}