/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 15px 40px;
    border-bottom: 3px solid #f1c40f;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo-container h2 {
    color: #f1c40f;
}

/* Navigation Links */
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f1c40f;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    color: #f1c40f;
    font-size: 45px;
}

.hero p {
    color: #ddd;
    font-size: 18px;
}

.btn {
    background: #f1c40f;
    color: black;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: black;
    color: #f1c40f;
    border: 1px solid #f1c40f;
}

/* Stats Section */
.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 40px;
}

.card {
    background: #1c1c1c;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    border-top: 4px solid #f1c40f;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card h3 {
    color: #f1c40f;
}