body{
margin:0;
font-family: Arial, sans-serif;
background:#0f0f0f;
color:white;
}

/* Navbar */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#f5c400;
color:black;
box-shadow:0 0 15px rgba(0,0,0,0.5);
}

/* Hero Section */
.hero{
height:85vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
animation: fadeIn 1.5s ease-in-out;
}

/* Title */
.hero h1{
font-size:45px;
color:#f5c400;
}

/* Button */
.btn{
padding:14px 30px;
border:none;
border-radius:10px;
background:#f5c400;
color:black;
font-weight:bold;
cursor:pointer;
transition:0.4s;
box-shadow:0 0 10px rgba(245,196,0,0.6);
}

.btn:hover{
transform:scale(1.08);
background:black;
color:#f5c400;
}

/* Animation */
@keyframes fadeIn{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}