body{
margin:0;
font-family:Segoe UI, sans-serif;
background:#0f0f0f;
color:white;
}

/* Navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:black;
border-bottom:3px solid #f5c400;
}

.navbar h2{
color:#f5c400;
letter-spacing:2px;
}

.nav-links a{
color:white;
text-decoration:none;
margin-left:25px;
transition:0.3s;
}

.nav-links a:hover{
color:#f5c400;
}

/* Hero */

.hero{
text-align:center;
padding:80px 20px 40px;
animation:fadeIn 1s ease-in-out;
}

.hero h1{
font-size:50px;
color:#f5c400;
}

.hero p{
opacity:0.85;
margin-bottom:25px;
}

/* Button */

.btn{
padding:14px 35px;
border:none;
border-radius:30px;
background:#f5c400;
color:black;
font-weight:bold;
cursor:pointer;
transition:0.4s;
}

.btn:hover{
transform:scale(1.08);
background:white;
}

/* Cards */

.stats{
display:flex;
justify-content:center;
gap:25px;
padding:60px 20px;
flex-wrap:nowrap;
}

.card{
width:220px;
padding:30px;
border-radius:20px;
background:#1e1e1e;
text-align:center;
transition:0.4s;
border:1px solid rgba(245,196,0,0.3);
}

.card:hover{
transform:translateY(-12px);
box-shadow:0 0 30px rgba(245,196,0,0.4);
border-color:#f5c400;
}

.card h3{
color:#f5c400;
}

/* Animation */

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}