*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg, #000000, #1a1a1a);
}

/* Container */

.reset-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.reset-card{
    width:400px;
    padding:40px;
    background:#111;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,0.6);
    text-align:center;
    color:white;
}

.reset-card h2{
    margin-bottom:15px;
}

.reset-card p{
    font-size:14px;
    margin-bottom:30px;
    opacity:0.8;
}

.input-group{
    margin-bottom:20px;
    text-align:left;
}

.input-group label{
    font-size:14px;
    margin-bottom:5px;
    display:block;
}

.input-group input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2a2a2a;
    color:white;
    transition:0.3s;
}

.input-group input:focus{
    outline:none;
    border:1px solid rgb(212,175,55);
    box-shadow:0 0 10px rgba(212,175,55,0.4);
}

.btn-reset{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:rgb(212,175,55);
    color:black;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.btn-reset:hover{
    background:white;
    transform:translateY(-3px);
}

.back-login{
    margin-top:20px;
}

.back-login a{
    color:rgb(212,175,55);
    text-decoration:none;
    font-size:14px;
}

.back-login a:hover{
    text-decoration:underline;
}