* {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #d4af37;
}

header {
  display: flex;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header img {
  width: 80px;
  height: 80px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 10px 8px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 300px;
}

.container h1 {
  font-size: 1.5rem;
  color: goldenrod;
  text-align: center;
  margin-bottom: 30px;
}

.container input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container button {
  width: 95%;
  padding: 10px;
  background-color: #d4af37;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

button:hover {
  background-color: goldenrod;
}

footer {
  padding: 20px;
  color: white;
  background-color: black;
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
}

footer a:hover {
  color: goldenrod;
}
footer a {
  color: rgb(70, 70, 70);
  text-decoration: none;
}
