* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  /* Delete the background color after everything is done */
  background-color: #d4af37;
}

/* header */

header {
  display: flex;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 80px;
  height: 60px;
}

#account {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-right: 10px;
  font-size: smaller;
}

#account details:hover {
  cursor: pointer;
}

#account details a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: black;
  font-size: smaller;
}

#account details a:hover {
  color: red;
}

/* main */
